#chat {
  background-color: snow;
  max-height: 100vh;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
@media (min-width: 768px) {
  .welcome {
    height: 100vh;
  }
}
.welcome-logn {
  background-color: red;
}

.messages {
  overflow-y: auto;
  height: 100vh;
}

.message-form {
  position: fixed;
  display: inline-block;
  bottom: 200px;
  padding: 0;
  border-top: 1px solid lightgray;
  width: 100%;
  background-color: white;
  bottom: 0;
}
.message-form > form > button {
  border: 0;
  padding: 0;
  height: 8vh;
  width: 20%;
  position: fixed;
  bottom: 0;
  right: 0;
}
.message-form > form > textarea {
  border: none;
  width: 80%;
  /* height: 8vh; */
  padding: 10px;
  resize: none;
}
@media (min-width: 768px) {
  .message-form {
    width: 58%;
  }
  .message-form > form > textarea {
    width: 85%;
  }
  .message-form > form > button {
    width: 10%;
  }
}
@media (min-width: 992px) {
  .message-form {
    width: 66%;
  }
}

.user-info,
.chat-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  height: 8vh;
  margin: 0 0 3px 0;
  border-bottom: 5px solid white;
  border-right: 2px solid white;
}
.user-info-text {
  font-size: 120%;
}

.chat-messages {
  display: flex;
  height: 68vh;
  flex-direction: column;
  padding: 3%;
  background-color: whitesmoke;
  overflow-y: auto;
}
@media (min-width: 768px) {
  .chat-messages {
    height: 84vh;
  }
}
.chat-item {
  width: max-content;
  max-width: 70%;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 2%;
  margin: 0 0 5px 0;
  background-color: white;
}
.chat-item-right {
  align-self: flex-end;
}
.chat-item-center {
  align-self: center;
}

.auth-container {
  display: flex;
  height: 100vh;
  align-items: center;
}

.menu-icon:after {
  content: "\2807";
  font-size: 133%;
}

.whitesmoke {
  background-color: whitesmoke;
}

.user-avatar {
  display: inline-block;
  position: relative;
  padding-right: 10px;
}
.avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.test div.user-avatar img.avatar,
div.chat-info div.user-avatar.float-left img.avatar {
  cursor: pointer;
  margin-left: 5px;
  height: 6vh;
  width: 6vh;
}
.default-avatar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  font-size: 2em;
  color: green;
}
.status {
  position: absolute;
  top: 34px;
  left: 34px;
  z-index: 1;
  padding: 7px;
  border-radius: 12px;
}
.on {
  background-color: #4bae4f;
}
.off {
  background-color: #808080;
}
